{% extends 'base.html' %}
{% load static %}


{% block cores %}
    <div class="col-md-12">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
          </ol>
          <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="{% static 'files/joker_2019.jpg' %}" alt="First slide">
            </div>
{#            <div class="carousel-item active">#}
{#              <a href="https://www.imdb.com/title/tt3480822/" target="_blank"><img class="d-block w-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRmZJ_TSszMdHhkmH69--slj4OkkvZpVF0IP3nUWpnzgW5Fcm4-" alt="First slide"></a>#}
{#            </div>#}
              <div class="carousel-item">
              <img class="d-block w-100" src="https://www.cineplexbd.com/uploads/slider/No-Dorai-Web-Banner.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="{% static 'files/wonder_woman_1984.jpg' %}" alt="Second slide">
            </div>
              <div class="carousel-item">
              <img class="d-block w-100" src="{% static 'files/the_avengers_1920x1080.jpg' %}" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQR84VG7zW-DXHYTTZDSl5SFVRyYmK7lMEfqUZARVYk9FlxCp4v" alt="Third slide">
            </div>
          </div>
        </div>
    </div>

    <div class="col-md-8 col-12 text-center mood-font mt-4">
        <p ><code>Movies</code> will recommend movie based on your mood</p>
        <p style="margin-top: -15px;">or</p>
        <p style="margin-top: -15px;">You can browser movies by your favourite genre.</p>
    </div>

    <div class="col-md-6 col-12 mt-5 mb-5 mood-font">
        <div class="float-left ">
            <button class="btn btn-outline-dark btn-lg" type="button" data-toggle="modal" data-target="#exampleModalCenter">Select by mood</button>
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Select your mood?</h5>
                  </div>

                    <form id="mood" action="." method="post">
                        {% csrf_token %}
                          <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row justify-content-center modal-font">
                                    <div class="col-6">
                                        <label for="happy">
                                            <input id="happy" type="radio" name="emotion" value="happy" required> Happy
                                        </label>
                                    </div>
                                    <div class="col-6 float-left">
                                        <label for="romantic">
                                            <input id="romantic" type="radio" name="emotion" value="romantic"> Romantic
                                        </label>
                                    </div>

                                    <div class="col-6">
                                        <label for="lonely">
                                            <input id="lonely" type="radio" name="emotion" value="lonely"> Lonely
                                        </label>
                                    </div>
                                    <div class="col-6 float-left">
                                        <label for="exhausted">
                                            <input id="exhausted" type="radio" name="emotion" value="exhausted"> Tried
                                        </label>
                                    </div>

                                    <div class="col-6">
                                        <label for="angry">
                                            <input id="angry" type="radio" name="emotion" value="angry"> Angry
                                        </label>
                                    </div>

                                    <div class="col-6 float-left">
                                         <label for="upset">
                                            <input id="upset" type="radio" name="emotion" value="upset"> Upset
                                        </label>
                                    </div>

                                    <div class="col-6">
                                        <label for="sick">
                                            <input id="sick" type="radio" name="emotion" value="sick"> Sick
                                        </label>
                                    </div>

                                    <div class="col-6 float-left">
                                        <label for="lonely-midnight">
                                            <input id="lonely-midnight"  type="radio" name="emotion" value="lonely-midnight"> Lonely Midnight
                                        </label>
                                    </div>
                                </div>
                            </div>
                          </div>

                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </div>
                    </form>
                </div>
              </div>
            </div>
        </div>
        <div class="float-right">
            <button class="btn btn-outline-dark btn-lg" type="button" data-toggle="modal" data-target="#exampleModalCenter1">Select by genre</button>
            <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle1" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle1">Select favourite genre?</h5>
                  </div>




                    <form id="genre" action="." method="post">
                        {% csrf_token %}
                      <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row justify-content-center modal-font">
                                <div class="col-6">
                                    <label for="animation">
                                        <input id="animation" type="radio" name="genre" value="animation" required > Animation
                                    </label>
                                </div>
                                <div class="col-6 float-left">
                                    <label for="adventure">
                                        <input id="adventure" type="radio" name="genre" value="adventure"> Adventure
                                    </label>
                                </div>

                                <div class="col-6">
                                    <label for="comedy">
                                        <input id="comedy" type="radio" name="genre" value="comedy"> Comedy
                                    </label>
                                </div>
                                <div class="col-6 float-left">
                                    <label for="crime">
                                        <input id="crime" type="radio" name="genre" value="crime"> Crime
                                    </label>
                                </div>

                                <div class="col-6">
                                    <label for="documentary">
                                        <input id="documentary" type="radio" name="genre" value="documentary"> Documentary
                                    </label>
                                </div>

                                <div class="col-6">
                                    <label for="drama">
                                        <input id="drama" type="radio" name="genre" value="drama"> Drama
                                    </label>
                                </div>

                                <div class="col-6 float-left">
                                     <label for="family">
                                        <input id="family" type="radio" name="genre" value="family"> Family
                                    </label>
                                </div>

                                <div class="col-6 float-left">
                                     <label for="fantasy">
                                        <input id="fantasy" type="radio" name="genre" value="fantasy"> Fantasy
                                    </label>
                                </div>

                                <div class="col-6">
                                    <label for="horror">
                                        <input id="horror" type="radio" name="genre" value="horror"> Horror
                                    </label>
                                </div>

                                <div class="col-6 float-left">
                                    <label for="mystery">
                                        <input id="mystery" type="radio" name="genre" value="mystery"> Mystery
                                    </label>
                                </div>

                                <div class="col-6">
                                    <label for="romance">
                                        <input id="romance" type="radio" name="genre" value="romance"> Romance
                                    </label>
                                </div>

                                <div class="col-6 float-left">
                                    <label for="si-fi">
                                        <input id="si-fi" type="radio" name="genre" value="science fiction"> Si-Fi
                                    </label>
                                </div>

                                <div class="col-6 float-left">
                                    <label for="thriller">
                                        <input id="thriller" type="radio" name="genre" value="thriller"> Thriller
                                    </label>
                                </div>

                                <div class="col-6 float-left">
                                    <label for="war">
                                        <input id="war" type="radio" name="genre" value="war"> War
                                    </label>
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </form>
                </div>
              </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block list %}
    <div id="listDiv">
        <div style="padding-top: 200px"> </div>
    </div>
{% endblock %}